body{
    background-image: url(pool.jpg);
    color: rgb(110, 0, 253);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: cursive;
}
                                                                                                                                                                           
