body{
    background-image: url(pool.jpg);
    color: rgb(253, 38, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
                                                                                                                                                                           
